<mat-card>
    <h4>Temperatures</h4>
    <form #tempForm="ngForm"(ngSubmit)="onSubmit()">
        <div>
                <mat-form-field>
            <input matInput placeholder="Temperature" [(ngModel)]= "temperature"
                            name="temperature"
                            required 
                            #temp = "ngModel">
        <p *ngIf="!(temp.valid || temp.pristine)">
            Temperature Is Required
        </p>
    </mat-form-field>

        <h4>City</h4>
    <mat-form-field>
            <mat-label>Choose City</mat-label>
    <mat-select placeholder="City" [(ngModel)] = "city" name = "city" >
        <mat-option *ngFor="let cityName of cityNames" [value]="cityName">{{cityName}}</mat-option>
    </mat-select>
    </mat-form-field>

   


</div>
<button mat-raised-button color="primary" [disabled] = "!tempForm.form.valid">Submit</button>
</form>
</mat-card>